layout {
    background-color "transparent"

    focus-ring {
        active-color   "#87d1eb"
        inactive-color "#8a9296"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#87d1eb"
        inactive-color "#8a9296"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#87d1eb"
        inactive-color "#8a9296"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#87d1eb80"
    }
}
