layout {
    background-color "transparent"

    focus-ring {
        active-color   "#acd284"
        inactive-color "#8c909f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#acd284"
        inactive-color "#8c909f"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#acd284"
        inactive-color "#8c909f"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#acd28480"
    }
}
