layout {
    background-color "transparent"

    focus-ring {
        active-color   "#edc06c"
        inactive-color "#9a8f80"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#edc06c"
        inactive-color "#9a8f80"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#edc06c"
        inactive-color "#9a8f80"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#edc06c80"
    }
}
