input {
    keyboard {
        numlock
        repeat-delay 170
        repeat-rate 70
    }

    touchpad {
        tap
        natural-scroll
        accel-speed 0.2
        accel-profile "adaptive"
        scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    warp-mouse-to-focus
    focus-follows-mouse
}

