@import "colors.css";

/* -----------------------------------------------------------------------------
  * Base styles
  * -------------------------------------------------------------------------- */

@define-color base @on_secondary_fixed;
@define-color base_fg @secondary_container;

@define-color active @primary_container;
@define-color active_fg @primary_fixed;

@define-color highlight @primary_container;
@define-color highlight_fg @secondary_fixed;

@define-color primary @on_primary;
@define-color primary_fg @on_primary_container;

@define-color secondary @secondary_container;
@define-color secondary_fg @secondary_fixed;

@define-color tertiary @primary_container;
@define-color tertiary_fg @primary_fixed;

/* Reset all styles */

* {
  color: @base_fg;
  border: 0px;
  padding: 0px 0px;
  font-size: 12px;
  font-weight: bold;
}

window#waybar {
  border: 0px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

#workspaces button {
  color: @base;
  border-radius: 50%;
  padding: 3px 8px 3px 8px;
}

#workspaces button:hover {
  color: @base_fg;
  box-shadow: none;
  text-shadow: none;
  background: none;
}

#workspaces button:hover * {
  color: @base_fg;
  background-color: @base;
}

#workspaces * {
  color: @base_fg;
  font-size: 16px;
}

#workspaces {
  opacity: 1;
  border-style: solid;
  background-color: @base;
  border-radius: 10px;
  margin: 10px 4px 10px 10px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7);
}

#workspaces button.focused {
  color: @active_fg;
  border-radius: 30px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

#workspaces button.focused * {
  font-size: 24px;
  color: @active_fg;
}

#clock,
#custom-swap,
#custom-cava-internal,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#backlight,
#network,
#pulseaudio,
#mode,
#tray,
#bluetooth,
#custom-power,
#custom-quit,
#custom-lock,
#custom-reboot,
#custom-pacman,
#custom-notification,
#custom-uptime,
#custom-date,
#custom-wallpaper,
#custom-nightlight,
#mpd {
  border-style: solid;
  background-color: shade(@base, 1);
  opacity: 1;
  margin: 10px 4px 0px 8px;
}

/* -----------------------------------------------------------------------------
  * Module styles
  * -------------------------------------------------------------------------- */
#mode {
  color: @highlight_fg;
  background-color: @highlight;
  border-radius: 10px;
  padding: 18px 2px 18px 2px;
  margin: 10px 4px 10px 10px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
}

#custom-nightlight {
  color: @teal;
  background-color: @base;
  border-radius: 10px;
  margin-bottom: 4px;
  padding: 10px 7px 10px 4px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7);
}

#custom-wallpaper {
  color: @teal;
  background-color: @base;
  border-radius: 10px;
  margin-bottom: 4px;
  padding: 10px 7px 10px 4px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7);
}

#custom-uptime {
  border-radius: 10px 0px 0px 10px;
  background-color: @base;
}

#clock {
  color: @primary_fg;
  background-color: shade(@primary, 1);
  font-size: 22px;
  font-weight: 900;
  font-family: "Rampart One", sans-serif;
  margin: 0px 4px 0px 8px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
}

#clock.hour {
  margin-top: 10px;
  padding: 3px 8px 0px 8px;
  border-radius: 10px 10px 0px 0px;
}

#clock.min {
  margin-bottom: 10px;
  padding: 0px 8px 3px 8px;
  border-radius: 0px 0px 10px 10px;
}

#backlight {
  color: @yellow;
  border-radius: 10px;
  margin-bottom: 4px;
  padding: 7px 5px 7px 5px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7);
}

#battery {
  color: #d8dee9;
  border-radius: 10px;
  margin-bottom: 4px;
  padding: 7px 5px 7px 5px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7);
}

#battery.charging {
  color: #81a1c1;
}

@keyframes blink {
  to {
    color: @red;
  }
}

#battery.critical:not(.charging) {
  color: #bf616a;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: @sky;
  border-radius: 10px 0px 0px 10px;
}

#cpu #cpu-icon {
  color: @sky;
}

#memory {
  color: @sky;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

#network.disabled {
  color: #bf616a;
}

#bluetooth {
  color: @teal;
  border-radius: 10px;
  margin-bottom: 4px;
  padding: 10px 7px 10px 7px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7);
}

#network {
  color: @green;
  border-radius: 10px;
  margin-bottom: 4px;
  padding: 10px 7px 10px 7px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7);
}

#network.disconnected {
  color: #bf616a;
}

#pulseaudio {
  border-radius: 10px;
  margin-bottom: 4px;
  padding: 10px 7px 10px 4px;
  color: @flamingo;
  background-color: @tertiary;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7);
}

#pulseaudio.muted {
  color: #3b4252;
}

#tray {
  border-radius: 10px;
  margin-bottom: 4px;
  padding: 7px 5px 7px 5px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7);
}

#custom-notification {
  color: @secondary_fg;
  background-color: @secondary;
  border-radius: 10px;
  padding: 8px 9px 8px 9px;
  margin: 10px 10px 0px 10px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7);
}

#custom-power,
#custom-quit,
#custom-lock,
#custom-reboot {
  border-radius: 10px;
  padding: 10px 7px 10px 4px;
  color: @teal;
  background-color: @base;
}

#custom-power {
  margin-bottom: 20px;
  color: @tertiary_fg;
  background-color: @tertiary;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7);
}

#window {
  border-style: hidden;
  margin-left: 10px;
  margin-right: 10px;
  color: #eceff4;
}

tooltip {
  font-size: 12px;
  opacity: 0.95;
  padding: 6px 10px;
  border-radius: 8px;
  font-family: "JetBrainsMono Nerd Font", monospace;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  background-color: @tertiary;
  border: 1px solid #89b4fa;
}

tooltip label {
  color: @tertiary_fg;
}
