@import "machiatto.css";
@import "colors.css";

@define-color base #93000a;

/* Reset all styles */
* {
  color: @lavender;
  border: 0;
  padding: 0 0;
  font-family: UbuntuMono;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: "Hack Nerd Font"; */
  font-size: 12px;
  font-weight: bold;
  /* padding-bottom:4px;
     padding-top: 4px; */
}

window#waybar {
  border: 0px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

#workspaces button {
  color: @base;
  border-radius: 50%;
  margin: 0px 0px;
  padding: 3 8 3 8;
}

#workspaces button:hover {
  color: @mauve;
  border: 0px;
  box-shadow: none;
  text-shadow: none;
  background: none;
}

#workspaces button:hover * {
  color: @mauve;
  background-color: @base;
}

#workspaces * {
  color: @overlay2;
}

#workspaces {
  opacity: 1;
  border-style: solid;
  background-color: @base;
  border-radius: 10px;
  margin: 8px 0px 8px 8px;
}

#workspaces button.focused {
  color: @red;
  border-radius: 20px;
}

#workspaces button.focused * {
  color: @red;
}

#clock,
#custom-swap,
#custom-cava-internal,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#backlight,
#network,
#pulseaudio,
#mode,
#tray,
#custom-power,
#custom-pacman,
#custom-launcher,
#custom-uptime,
#custom-date,
#custom-clock,
#custom-wallpaper,
#mpd {
  padding: 5px 8px;
  border-style: solid;
  background-color: shade(@base, 1);
  opacity: 1;
  margin: 8px 0;
}

/* -----------------------------------------------------------------------------
  * Module styles
  * -------------------------------------------------------------------------- */
#mode {
  color: @base;
  background-color: @red;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#custom-wallpaper {
  color: @teal;
  background-color: @base;
  padding: 3px 16px 3px 12px;
  border-radius: 10px;
  margin-right: 10px;
}

#custom-uptime {
  border-radius: 10px 0px 0px 10px;
  background-color: @base;
}

#clock {
  color: @sky;
  border-radius: 10px;
  margin: 8px 10px;
  padding: 3 8 3 8;
}

#backlight {
  color: @yellow;
  /* border-bottom: 2px solid @yellow; */
  border-radius: 10px 0 0 10px;
}

#battery {
  color: #d8dee9;
  /* border-bottom: 2px solid #d8dee9; */
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

#battery.charging {
  color: #81a1c1;
  /* border-bottom: 2px solid #81a1c1; */
}

@keyframes blink {
  to {
    color: @red;
    /* border-bottom: 2px solid @red; */
  }
}

#battery.critical:not(.charging) {
  color: #bf616a;
  /* border-bottom: 2px solid #bf616a; */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: @sky;
  /* border-bottom: 2px solid @sky; */
  border-radius: 10px 0px 0px 10px;
}

#cpu #cpu-icon {
  color: @sky;
}

#memory {
  color: @sky;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

#network.disabled {
  color: #bf616a;
  /* border-bottom: 2px solid #bf616a; */
}

#network {
  color: @green;
  /* border-bottom: 2px solid @green; */
  border-radius: 10px;
  margin-right: 5px;
}

#network.disconnected {
  color: #bf616a;
  /* border-bottom: 2px solid #bf616a; */
}

#pulseaudio {
  color: @flamingo;
  /* border-bottom: 2px solid @flamingo; */
}

#pulseaudio.muted {
  color: #3b4252;
  /* border-bottom: 2px solid #3b4252; */
}

#temperature {
  color: @teal;
  /* border-bottom: 2px solid @teal; */
}

#temperature.critical {
  color: @red;
  /* border-bottom: 2px solid @red; */
}

#idle_inhibitor {
  background-color: #ebcb8b;
  color: @base;
}

#tray {
  /* background-color: @base; */
  margin: 8px 10px;
  border-radius: 10px;
}

#custom-launcher {
  color: @base;
  background-color: @mauve;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 15px;
}

#custom-power {
  color: @base;
  background-color: @peach;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 15px;
  padding: 5px 10px 5px 6px;
}

#window {
  border-style: hidden;
  margin-left: 10px;
  /* margin-top:1px;  
     padding: 8px 1rem; */
  margin-right: 10px;
  color: #eceff4;
}

#custom-keyboard-layout {
  color: @peach;
  /* border-bottom: 2px solid @peach; */
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

/* window#waybar {
     background: #2d2a2e;
 }
 
 * {
     color: #c8b9a9;
     font-family: Ubuntu Mono, sans-serif;
     font-size: 12px;
 }
 
 #workspaces button.focused {
     color: #f2e5bc;
 }
 
 #workspaces button {
     color: #c8b9a9;
 }
 
 .separator {
     background-color: #c8b9a9;
 }
 
 #mode {
     color: #ebcb8b;
 }
 
 #clock {
     color: #a3be8c;
 }
 
 #battery {
     color: #d8dee9;
 }
 
 #battery.charging {
     color: #b48ead;
 }
 
 #battery.critical:not(.charging) {
     color: #bf616a;
 }
 
 #cpu {
     color: #a3be8c;
 }
 
 #memory {
     color: #d3869b;
 }
 
 #network {
     color: #8fbcbb;
 }
 
 #network.disabled {
     color: #bf616a;
 }
 
 #network.disconnected {
     color: #bf616a;
 }
 
 #pulseaudio {
     color: #b48ead;
 }
 
 #pulseaudio.muted {
     color: #bf616a;
 }
 
 #temperature {
     color: #8fbcbb;
 }
 
 #temperature.critical {
     color: #bf616a;
 } */
