@import "machiatto.css";
@import "colors.css";

/* -----------------------------------------------------------------------------
  * Base styles
  * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
  color: @lavender;
  border: 0px;
  padding: 0px 0px;
  font-size: 12px;
  font-weight: bold;
  font-family: UbuntuMono;
}

window#waybar {
  border: 0px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

#workspaces button {
  color: @base;
  border-radius: 50%;
  padding: 3px 8px 3px 8px;
}

#workspaces button:hover {
  color: @mauve;
  border: 0px;
  box-shadow: none;
  text-shadow: none;
  background: none;
}

#workspaces button:hover * {
  color: @mauve;
  background-color: @base;
}

#workspaces * {
  color: @overlay2;
}

#workspaces {
  opacity: 1;
  border-style: solid;
  background-color: @base;
  border-radius: 10px;
  margin: 10px 4px 10px 10px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7); /* x-offset, y-offset, blur, color */
}

#workspaces button.focused {
  color: @red;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7); /* x-offset, y-offset, blur, color */
}

#workspaces button.focused * {
  color: @red;
  font-size: 14px;
}

#clock,
#custom-swap,
#custom-cava-internal,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#backlight,
#network,
#pulseaudio,
#mode,
#tray,
#custom-power,
#custom-pacman,
#custom-launcher,
#custom-uptime,
#custom-date,
#custom-clock,
#custom-wallpaper,
#mpd {
  border-style: solid;
  background-color: shade(@base, 1);
  opacity: 1;
  margin: 10px 4px 0px 8px;
}

/* -----------------------------------------------------------------------------
  * Module styles
  * -------------------------------------------------------------------------- */
#mode {
  color: @base;
  background-color: @peach;
  border-radius: 10px;
  padding: 18px 2px 18px 2px;
  margin: 10px 4px 10px 10px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7); /* x-offset, y-offset, blur, color */
}

#custom-wallpaper {
  color: @teal;
  background-color: @base;
  border-radius: 10px;
  margin-bottom: 4px;
  padding: 7px 7px 7px 4px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7); /* x-offset, y-offset, blur, color */
}

#custom-uptime {
  border-radius: 10px 0px 0px 10px;
  background-color: @base;
}

#clock {
  color: @sky;
  font-size: 22px;
  font-weight: 900;
  font-family: "Rampart One", sans-serif;
  margin: 0px 4px 0px 8px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7); /* x-offset, y-offset, blur, color */
}

#clock.hour {
  color: @sky;
  margin-top: 10px;
  padding: 3px 8px 0px 8px;
  border-radius: 10px 10px 0px 0px;
}

#clock.min {
  color: @sky;
  margin-bottom: 10px;
  padding: 0px 8px 3px 8px;
  border-radius: 0px 0px 10px 10px;
}

#backlight {
  color: @yellow;
  border-radius: 10px;
  margin-bottom: 4px;
  padding: 7px 7px 7px 7px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7); /* x-offset, y-offset, blur, color */
}

#battery {
  color: #d8dee9;
  border-radius: 10px;
  margin-bottom: 4px;
  padding: 7px 7px 7px 7px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7); /* x-offset, y-offset, blur, color */
}

#battery.charging {
  color: #81a1c1;
  /* border-bottom: 2px solid #81a1c1; */
}

@keyframes blink {
  to {
    color: @red;
    /* border-bottom: 2px solid @red; */
  }
}

#battery.critical:not(.charging) {
  color: #bf616a;
  /* border-bottom: 2px solid #bf616a; */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: @sky;
  /* border-bottom: 2px solid @sky; */
  border-radius: 10px 0px 0px 10px;
}

#cpu #cpu-icon {
  color: @sky;
}

#memory {
  color: @sky;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

#network.disabled {
  color: #bf616a;
  /* border-bottom: 2px solid #bf616a; */
}

#network {
  color: @green;
  border-radius: 10px;
  margin-bottom: 4px;
  padding: 7px 7px 7px 7px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7); /* x-offset, y-offset, blur, color */
}

#network.disconnected {
  color: #bf616a;
  /* border-bottom: 2px solid #bf616a; */
}

#pulseaudio {
  color: @flamingo;
  border-radius: 10px;
  margin-bottom: 4px;
  padding: 7px 7px 7px 7px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7); /* x-offset, y-offset, blur, color */

}

#pulseaudio.muted {
  color: #3b4252;
  /* border-bottom: 2px solid #3b4252; */
}

#temperature {
  color: @teal;
  /* border-bottom: 2px solid @teal; */
}

#temperature.critical {
  color: @red;
  /* border-bottom: 2px solid @red; */
}

#idle_inhibitor {
  background-color: #ebcb8b;
  color: @base;
}

#tray {
  /* background-color: @base; */
  margin: 8px 10px;
  border-radius: 10px;
}

#custom-launcher {
  color: @base;
  background-color: @mauve;
  border-radius: 10px;
  padding: 7px 7px 7px 8px;
  margin: 10px 10px 0px 10px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7); /* x-offset, y-offset, blur, color */
}

#custom-power {
  color: @base;
  background-color: @peach;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 7px 10px 4px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7); /* x-offset, y-offset, blur, color */
}

#window {
  border-style: hidden;
  margin-left: 10px;
  /* margin-top:1px;  
     padding: 8px 1rem; */
  margin-right: 10px;
  color: #eceff4;
}

#custom-keyboard-layout {
  color: @peach;
  /* border-bottom: 2px solid @peach; */
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

/* window#waybar {
     background: #2d2a2e;
 }
 
 * {
     color: #c8b9a9;
     font-family: Ubuntu Mono, sans-serif;
     font-size: 12px;
 }
 
 #workspaces button.focused {
     color: #f2e5bc;
 }
 
 #workspaces button {
     color: #c8b9a9;
 }
 
 .separator {
     background-color: #c8b9a9;
 }
 
 #mode {
     color: #ebcb8b;
 }
 
 #clock {
     color: #a3be8c;
 }
 
 #battery {
     color: #d8dee9;
 }
 
 #battery.charging {
     color: #b48ead;
 }
 
 #battery.critical:not(.charging) {
     color: #bf616a;
 }
 
 #cpu {
     color: #a3be8c;
 }
 
 #memory {
     color: #d3869b;
 }
 
 #network {
     color: #8fbcbb;
 }
 
 #network.disabled {
     color: #bf616a;
 }
 
 #network.disconnected {
     color: #bf616a;
 }
 
 #pulseaudio {
     color: #b48ead;
 }
 
 #pulseaudio.muted {
     color: #bf616a;
 }
 
 #temperature {
     color: #8fbcbb;
 }
 
 #temperature.critical {
     color: #bf616a;
 } */
