$palette-content-background: #131313;
$palette-content-error: #ffb4ab;
$palette-content-error-container: #93000a;
$palette-content-inverse-on-surface: #303030;
$palette-content-inverse-primary: #506261;
$palette-content-inverse-surface: #e4e2e1;
$palette-content-on-background: #e4e2e1;
$palette-content-on-error: #690005;
$palette-content-on-error-container: #ffdad6;
$palette-content-on-primary: #223333;
$palette-content-on-primary-container: #ffffff;
$palette-content-on-primary-fixed: #0d1e1e;
$palette-content-on-primary-fixed-variant: #394a49;
$palette-content-on-secondary: #2b3231;
$palette-content-on-secondary-container: #dbe1e0;
$palette-content-on-secondary-fixed: #161d1c;
$palette-content-on-secondary-fixed-variant: #414848;
$palette-content-on-surface: #e4e2e1;
$palette-content-on-surface-variant: #c2c8c7;
$palette-content-on-tertiary: #312f3c;
$palette-content-on-tertiary-container: #ffffff;
$palette-content-on-tertiary-fixed: #1c1a27;
$palette-content-on-tertiary-fixed-variant: #484553;
$palette-content-outline: #8c9291;
$palette-content-outline-variant: #424847;
$palette-content-primary: #b7cac9;
$palette-content-primary-container: #617372;
$palette-content-primary-fixed: #d3e6e5;
$palette-content-primary-fixed-dim: #b7cac9;
$palette-content-scrim: #000000;
$palette-content-secondary: #c1c8c7;
$palette-content-secondary-container: #414848;
$palette-content-secondary-fixed: #dde4e3;
$palette-content-secondary-fixed-dim: #c1c8c7;
$palette-content-shadow: #000000;
$palette-content-surface: #131313;
$palette-content-surface-bright: #393939;
$palette-content-surface-container: #1f201f;
$palette-content-surface-container-high: #292a2a;
$palette-content-surface-container-highest: #343535;
$palette-content-surface-container-low: #1b1c1b;
$palette-content-surface-container-lowest: #0d0e0e;
$palette-content-surface-dim: #131313;
$palette-content-surface-tint: #b7cac9;
$palette-content-surface-variant: #424847;
$palette-content-tertiary: #c9c4d6;
$palette-content-tertiary-container: #716d7d;
$palette-content-tertiary-fixed: #e6e0f2;
$palette-content-tertiary-fixed-dim: #c9c4d6;
$palette-expressive-background: #0c1516;
$palette-expressive-error: #ffb4ab;
$palette-expressive-error-container: #93000a;
$palette-expressive-inverse-on-surface: #293234;
$palette-expressive-inverse-primary: #825500;
$palette-expressive-inverse-surface: #dbe4e6;
$palette-expressive-on-background: #dbe4e6;
$palette-expressive-on-error: #690005;
$palette-expressive-on-error-container: #ffdad6;
$palette-expressive-on-primary: #452b00;
$palette-expressive-on-primary-container: #ffddb2;
$palette-expressive-on-primary-fixed: #291800;
$palette-expressive-on-primary-fixed-variant: #624000;
$palette-expressive-on-secondary: #2d2d4d;
$palette-expressive-on-secondary-container: #e1e0ff;
$palette-expressive-on-secondary-fixed: #181837;
$palette-expressive-on-secondary-fixed-variant: #434465;
$palette-expressive-on-surface: #dbe4e6;
$palette-expressive-on-surface-variant: #b8cacd;
$palette-expressive-on-tertiary: #00363d;
$palette-expressive-on-tertiary-container: #a9eefa;
$palette-expressive-on-tertiary-fixed: #001f24;
$palette-expressive-on-tertiary-fixed-variant: #004f58;
$palette-expressive-outline: #839497;
$palette-expressive-outline-variant: #39494c;
$palette-expressive-primary: #f8bc64;
$palette-expressive-primary-container: #624000;
$palette-expressive-primary-fixed: #ffddb2;
$palette-expressive-primary-fixed-dim: #f8bc64;
$palette-expressive-scrim: #000000;
$palette-expressive-secondary: #c4c3eb;
$palette-expressive-secondary-container: #434465;
$palette-expressive-secondary-fixed: #e1e0ff;
$palette-expressive-secondary-fixed-dim: #c4c3eb;
$palette-expressive-shadow: #000000;
$palette-expressive-surface: #0c1516;
$palette-expressive-surface-bright: #323b3c;
$palette-expressive-surface-container: #182123;
$palette-expressive-surface-container-high: #222b2d;
$palette-expressive-surface-container-highest: #2d3638;
$palette-expressive-surface-container-low: #141d1f;
$palette-expressive-surface-container-lowest: #071011;
$palette-expressive-surface-dim: #0c1516;
$palette-expressive-surface-tint: #f8bc64;
$palette-expressive-surface-variant: #39494c;
$palette-expressive-tertiary: #8dd1dd;
$palette-expressive-tertiary-container: #004f58;
$palette-expressive-tertiary-fixed: #a9eefa;
$palette-expressive-tertiary-fixed-dim: #8dd1dd;
$palette-fidelity-background: #131313;
$palette-fidelity-error: #ffb4ab;
$palette-fidelity-error-container: #93000a;
$palette-fidelity-inverse-on-surface: #303030;
$palette-fidelity-inverse-primary: #506261;
$palette-fidelity-inverse-surface: #e4e2e1;
$palette-fidelity-on-background: #e4e2e1;
$palette-fidelity-on-error: #690005;
$palette-fidelity-on-error-container: #ffdad6;
$palette-fidelity-on-primary: #223333;
$palette-fidelity-on-primary-container: #ffffff;
$palette-fidelity-on-primary-fixed: #0d1e1e;
$palette-fidelity-on-primary-fixed-variant: #394a49;
$palette-fidelity-on-secondary: #2b3231;
$palette-fidelity-on-secondary-container: #dbe1e0;
$palette-fidelity-on-secondary-fixed: #161d1c;
$palette-fidelity-on-secondary-fixed-variant: #414848;
$palette-fidelity-on-surface: #e4e2e1;
$palette-fidelity-on-surface-variant: #c2c8c7;
$palette-fidelity-on-tertiary: #402c24;
$palette-fidelity-on-tertiary-container: #ffffff;
$palette-fidelity-on-tertiary-fixed: #291711;
$palette-fidelity-on-tertiary-fixed-variant: #58423a;
$palette-fidelity-outline: #8c9291;
$palette-fidelity-outline-variant: #424847;
$palette-fidelity-primary: #b7cac9;
$palette-fidelity-primary-container: #617372;
$palette-fidelity-primary-fixed: #d3e6e5;
$palette-fidelity-primary-fixed-dim: #b7cac9;
$palette-fidelity-scrim: #000000;
$palette-fidelity-secondary: #c1c8c7;
$palette-fidelity-secondary-container: #414848;
$palette-fidelity-secondary-fixed: #dde4e3;
$palette-fidelity-secondary-fixed-dim: #c1c8c7;
$palette-fidelity-shadow: #000000;
$palette-fidelity-surface: #131313;
$palette-fidelity-surface-bright: #393939;
$palette-fidelity-surface-container: #1f201f;
$palette-fidelity-surface-container-high: #292a2a;
$palette-fidelity-surface-container-highest: #343535;
$palette-fidelity-surface-container-low: #1b1c1b;
$palette-fidelity-surface-container-lowest: #0d0e0e;
$palette-fidelity-surface-dim: #131313;
$palette-fidelity-surface-tint: #b7cac9;
$palette-fidelity-surface-variant: #424847;
$palette-fidelity-tertiary: #e0c0b5;
$palette-fidelity-tertiary-container: #846a61;
$palette-fidelity-tertiary-fixed: #fddbd0;
$palette-fidelity-tertiary-fixed-dim: #e0c0b5;
$palette-fruit-salad-background: #091615;
$palette-fruit-salad-error: #ffb4ab;
$palette-fruit-salad-error-container: #93000a;
$palette-fruit-salad-inverse-on-surface: #263332;
$palette-fruit-salad-inverse-primary: #2a6b29;
$palette-fruit-salad-inverse-surface: #d7e5e4;
$palette-fruit-salad-on-background: #d7e5e4;
$palette-fruit-salad-on-error: #690005;
$palette-fruit-salad-on-error-container: #ffdad6;
$palette-fruit-salad-on-primary: #003907;
$palette-fruit-salad-on-primary-container: #acf4a2;
$palette-fruit-salad-on-primary-fixed: #002203;
$palette-fruit-salad-on-primary-fixed-variant: #0c5313;
$palette-fruit-salad-on-secondary: #0c390e;
$palette-fruit-salad-on-secondary-container: #bdf0b3;
$palette-fruit-salad-on-secondary-fixed: #002203;
$palette-fruit-salad-on-secondary-fixed-variant: #255023;
$palette-fruit-salad-on-surface: #d7e5e4;
$palette-fruit-salad-on-surface-variant: #b0ccca;
$palette-fruit-salad-on-tertiary: #003736;
$palette-fruit-salad-on-tertiary-container: #9cf1ee;
$palette-fruit-salad-on-tertiary-fixed: #00201f;
$palette-fruit-salad-on-tertiary-fixed-variant: #00504e;
$palette-fruit-salad-outline: #7b9694;
$palette-fruit-salad-outline-variant: #324b4a;
$palette-fruit-salad-primary: #91d888;
$palette-fruit-salad-primary-container: #0c5313;
$palette-fruit-salad-primary-fixed: #acf4a2;
$palette-fruit-salad-primary-fixed-dim: #91d888;
$palette-fruit-salad-scrim: #000000;
$palette-fruit-salad-secondary: #a2d399;
$palette-fruit-salad-secondary-container: #255023;
$palette-fruit-salad-secondary-fixed: #bdf0b3;
$palette-fruit-salad-secondary-fixed-dim: #a2d399;
$palette-fruit-salad-shadow: #000000;
$palette-fruit-salad-surface: #091615;
$palette-fruit-salad-surface-bright: #2f3c3b;
$palette-fruit-salad-surface-container: #152221;
$palette-fruit-salad-surface-container-high: #1f2c2c;
$palette-fruit-salad-surface-container-highest: #2a3737;
$palette-fruit-salad-surface-container-low: #111e1d;
$palette-fruit-salad-surface-container-lowest: #041010;
$palette-fruit-salad-surface-dim: #091615;
$palette-fruit-salad-surface-tint: #91d888;
$palette-fruit-salad-surface-variant: #324b4a;
$palette-fruit-salad-tertiary: #80d5d2;
$palette-fruit-salad-tertiary-container: #00504e;
$palette-fruit-salad-tertiary-fixed: #9cf1ee;
$palette-fruit-salad-tertiary-fixed-dim: #80d5d2;
$palette-monochrome-background: #131313;
$palette-monochrome-error: #ffb4ab;
$palette-monochrome-error-container: #93000a;
$palette-monochrome-inverse-on-surface: #303030;
$palette-monochrome-inverse-primary: #5e5e5e;
$palette-monochrome-inverse-surface: #e2e2e2;
$palette-monochrome-on-background: #e2e2e2;
$palette-monochrome-on-error: #690005;
$palette-monochrome-on-error-container: #ffdad6;
$palette-monochrome-on-primary: #1b1b1b;
$palette-monochrome-on-primary-container: #000000;
$palette-monochrome-on-primary-fixed: #ffffff;
$palette-monochrome-on-primary-fixed-variant: #e2e2e2;
$palette-monochrome-on-secondary: #1b1b1b;
$palette-monochrome-on-secondary-container: #e2e2e2;
$palette-monochrome-on-secondary-fixed: #1b1b1b;
$palette-monochrome-on-secondary-fixed-variant: #3b3b3b;
$palette-monochrome-on-surface: #e2e2e2;
$palette-monochrome-on-surface-variant: #c6c6c6;
$palette-monochrome-on-tertiary: #1b1b1b;
$palette-monochrome-on-tertiary-container: #000000;
$palette-monochrome-on-tertiary-fixed: #ffffff;
$palette-monochrome-on-tertiary-fixed-variant: #e2e2e2;
$palette-monochrome-outline: #919191;
$palette-monochrome-outline-variant: #474747;
$palette-monochrome-primary: #ffffff;
$palette-monochrome-primary-container: #d4d4d4;
$palette-monochrome-primary-fixed: #5e5e5e;
$palette-monochrome-primary-fixed-dim: #474747;
$palette-monochrome-scrim: #000000;
$palette-monochrome-secondary: #c6c6c6;
$palette-monochrome-secondary-container: #474747;
$palette-monochrome-secondary-fixed: #c6c6c6;
$palette-monochrome-secondary-fixed-dim: #ababab;
$palette-monochrome-shadow: #000000;
$palette-monochrome-surface: #131313;
$palette-monochrome-surface-bright: #393939;
$palette-monochrome-surface-container: #1f1f1f;
$palette-monochrome-surface-container-high: #2a2a2a;
$palette-monochrome-surface-container-highest: #353535;
$palette-monochrome-surface-container-low: #1b1b1b;
$palette-monochrome-surface-container-lowest: #0e0e0e;
$palette-monochrome-surface-dim: #131313;
$palette-monochrome-surface-tint: #c6c6c6;
$palette-monochrome-surface-variant: #474747;
$palette-monochrome-tertiary: #e2e2e2;
$palette-monochrome-tertiary-container: #919191;
$palette-monochrome-tertiary-fixed: #5e5e5e;
$palette-monochrome-tertiary-fixed-dim: #474747;
$palette-neutral-background: #121413;
$palette-neutral-error: #ffb4ab;
$palette-neutral-error-container: #93000a;
$palette-neutral-inverse-on-surface: #2f3130;
$palette-neutral-inverse-primary: #506261;
$palette-neutral-inverse-surface: #e3e2e1;
$palette-neutral-on-background: #e3e2e1;
$palette-neutral-on-error: #690005;
$palette-neutral-on-error-container: #ffdad6;
$palette-neutral-on-primary: #233333;
$palette-neutral-on-primary-container: #d3e6e5;
$palette-neutral-on-primary-fixed: #0e1e1e;
$palette-neutral-on-primary-fixed-variant: #394a49;
$palette-neutral-on-secondary: #293232;
$palette-neutral-on-secondary-container: #dae5e3;
$palette-neutral-on-secondary-fixed: #141d1d;
$palette-neutral-on-secondary-fixed-variant: #3f4948;
$palette-neutral-on-surface: #e3e2e1;
$palette-neutral-on-surface-variant: #c7c6c6;
$palette-neutral-on-tertiary: #1b3534;
$palette-neutral-on-tertiary-container: #cce8e6;
$palette-neutral-on-tertiary-fixed: #051f1f;
$palette-neutral-on-tertiary-fixed-variant: #324b4a;
$palette-neutral-outline: #919190;
$palette-neutral-outline-variant: #464747;
$palette-neutral-primary: #b8cac9;
$palette-neutral-primary-container: #394a49;
$palette-neutral-primary-fixed: #d3e6e5;
$palette-neutral-primary-fixed-dim: #b8cac9;
$palette-neutral-scrim: #000000;
$palette-neutral-secondary: #bec9c7;
$palette-neutral-secondary-container: #3f4948;
$palette-neutral-secondary-fixed: #dae5e3;
$palette-neutral-secondary-fixed-dim: #bec9c7;
$palette-neutral-shadow: #000000;
$palette-neutral-surface: #121413;
$palette-neutral-surface-bright: #383939;
$palette-neutral-surface-container: #1f2020;
$palette-neutral-surface-container-high: #292a2a;
$palette-neutral-surface-container-highest: #343535;
$palette-neutral-surface-container-low: #1a1c1c;
$palette-neutral-surface-container-lowest: #0d0e0e;
$palette-neutral-surface-dim: #121413;
$palette-neutral-surface-tint: #b8cac9;
$palette-neutral-surface-variant: #464747;
$palette-neutral-tertiary: #b0ccca;
$palette-neutral-tertiary-container: #324b4a;
$palette-neutral-tertiary-fixed: #cce8e6;
$palette-neutral-tertiary-fixed-dim: #b0ccca;
$palette-rainbow-background: #131313;
$palette-rainbow-error: #ffb4ab;
$palette-rainbow-error-container: #93000a;
$palette-rainbow-inverse-on-surface: #303030;
$palette-rainbow-inverse-primary: #006a68;
$palette-rainbow-inverse-surface: #e2e2e2;
$palette-rainbow-on-background: #e2e2e2;
$palette-rainbow-on-error: #690005;
$palette-rainbow-on-error-container: #ffdad6;
$palette-rainbow-on-primary: #003736;
$palette-rainbow-on-primary-container: #6ff7f4;
$palette-rainbow-on-primary-fixed: #00201f;
$palette-rainbow-on-primary-fixed-variant: #00504e;
$palette-rainbow-on-secondary: #1b3534;
$palette-rainbow-on-secondary-container: #cce8e6;
$palette-rainbow-on-secondary-fixed: #051f1f;
$palette-rainbow-on-secondary-fixed-variant: #324b4a;
$palette-rainbow-on-surface: #e2e2e2;
$palette-rainbow-on-surface-variant: #c6c6c6;
$palette-rainbow-on-tertiary: #1b324b;
$palette-rainbow-on-tertiary-container: #d2e4ff;
$palette-rainbow-on-tertiary-fixed: #031d35;
$palette-rainbow-on-tertiary-fixed-variant: #324863;
$palette-rainbow-outline: #919191;
$palette-rainbow-outline-variant: #474747;
$palette-rainbow-primary: #4ddad7;
$palette-rainbow-primary-container: #00504e;
$palette-rainbow-primary-fixed: #6ff7f4;
$palette-rainbow-primary-fixed-dim: #4ddad7;
$palette-rainbow-scrim: #000000;
$palette-rainbow-secondary: #b0ccca;
$palette-rainbow-secondary-container: #324b4a;
$palette-rainbow-secondary-fixed: #cce8e6;
$palette-rainbow-secondary-fixed-dim: #b0ccca;
$palette-rainbow-shadow: #000000;
$palette-rainbow-surface: #131313;
$palette-rainbow-surface-bright: #393939;
$palette-rainbow-surface-container: #1f1f1f;
$palette-rainbow-surface-container-high: #2a2a2a;
$palette-rainbow-surface-container-highest: #353535;
$palette-rainbow-surface-container-low: #1b1b1b;
$palette-rainbow-surface-container-lowest: #0e0e0e;
$palette-rainbow-surface-dim: #131313;
$palette-rainbow-surface-tint: #4ddad7;
$palette-rainbow-surface-variant: #474747;
$palette-rainbow-tertiary: #b2c8e8;
$palette-rainbow-tertiary-container: #324863;
$palette-rainbow-tertiary-fixed: #d2e4ff;
$palette-rainbow-tertiary-fixed-dim: #b2c8e8;
$palette-tonal-spot-background: #0e1514;
$palette-tonal-spot-error: #ffb4ab;
$palette-tonal-spot-error-container: #93000a;
$palette-tonal-spot-inverse-on-surface: #2b3231;
$palette-tonal-spot-inverse-primary: #006a68;
$palette-tonal-spot-inverse-surface: #dde4e3;
$palette-tonal-spot-on-background: #dde4e3;
$palette-tonal-spot-on-error: #690005;
$palette-tonal-spot-on-error-container: #ffdad6;
$palette-tonal-spot-on-primary: #003736;
$palette-tonal-spot-on-primary-container: #9cf1ee;
$palette-tonal-spot-on-primary-fixed: #00201f;
$palette-tonal-spot-on-primary-fixed-variant: #00504e;
$palette-tonal-spot-on-secondary: #1b3534;
$palette-tonal-spot-on-secondary-container: #cce8e6;
$palette-tonal-spot-on-secondary-fixed: #051f1f;
$palette-tonal-spot-on-secondary-fixed-variant: #324b4a;
$palette-tonal-spot-on-surface: #dde4e3;
$palette-tonal-spot-on-surface-variant: #bec9c7;
$palette-tonal-spot-on-tertiary: #1b324b;
$palette-tonal-spot-on-tertiary-container: #d2e4ff;
$palette-tonal-spot-on-tertiary-fixed: #031d35;
$palette-tonal-spot-on-tertiary-fixed-variant: #324863;
$palette-tonal-spot-outline: #889392;
$palette-tonal-spot-outline-variant: #3f4948;
$palette-tonal-spot-primary: #80d5d2;
$palette-tonal-spot-primary-container: #00504e;
$palette-tonal-spot-primary-fixed: #9cf1ee;
$palette-tonal-spot-primary-fixed-dim: #80d5d2;
$palette-tonal-spot-scrim: #000000;
$palette-tonal-spot-secondary: #b0ccca;
$palette-tonal-spot-secondary-container: #324b4a;
$palette-tonal-spot-secondary-fixed: #cce8e6;
$palette-tonal-spot-secondary-fixed-dim: #b0ccca;
$palette-tonal-spot-shadow: #000000;
$palette-tonal-spot-surface: #0e1514;
$palette-tonal-spot-surface-bright: #343a3a;
$palette-tonal-spot-surface-container: #1a2120;
$palette-tonal-spot-surface-container-high: #252b2b;
$palette-tonal-spot-surface-container-highest: #2f3636;
$palette-tonal-spot-surface-container-low: #161d1c;
$palette-tonal-spot-surface-container-lowest: #090f0f;
$palette-tonal-spot-surface-dim: #0e1514;
$palette-tonal-spot-surface-tint: #80d5d2;
$palette-tonal-spot-surface-variant: #3f4948;
$palette-tonal-spot-tertiary: #b2c8e8;
$palette-tonal-spot-tertiary-container: #324863;
$palette-tonal-spot-tertiary-fixed: #d2e4ff;
$palette-tonal-spot-tertiary-fixed-dim: #b2c8e8;
$theme-light-background: #f2fbfd;
$theme-light-error: #ba1a1a;
$theme-light-error-container: #ffdad6;
$theme-light-inverse-on-surface: #e9f2f4;
$theme-light-inverse-primary: #f8bc64;
$theme-light-inverse-surface: #293234;
$theme-light-on-background: #141d1f;
$theme-light-on-error: #ffffff;
$theme-light-on-error-container: #410002;
$theme-light-on-primary: #ffffff;
$theme-light-on-primary-container: #291800;
$theme-light-on-primary-fixed: #291800;
$theme-light-on-primary-fixed-variant: #624000;
$theme-light-on-secondary: #ffffff;
$theme-light-on-secondary-container: #181837;
$theme-light-on-secondary-fixed: #181837;
$theme-light-on-secondary-fixed-variant: #434465;
$theme-light-on-surface: #141d1f;
$theme-light-on-surface-variant: #39494c;
$theme-light-on-tertiary: #ffffff;
$theme-light-on-tertiary-container: #001f24;
$theme-light-on-tertiary-fixed: #001f24;
$theme-light-on-tertiary-fixed-variant: #004f58;
$theme-light-outline: #697a7d;
$theme-light-outline-variant: #b8cacd;
$theme-light-primary: #825500;
$theme-light-primary-container: #ffddb2;
$theme-light-primary-fixed: #ffddb2;
$theme-light-primary-fixed-dim: #f8bc64;
$theme-light-scrim: #000000;
$theme-light-secondary: #5b5b7e;
$theme-light-secondary-container: #e1e0ff;
$theme-light-secondary-fixed: #e1e0ff;
$theme-light-secondary-fixed-dim: #c4c3eb;
$theme-light-shadow: #000000;
$theme-light-source-color: #617372;
$theme-light-surface: #f2fbfd;
$theme-light-surface-bright: #f2fbfd;
$theme-light-surface-container: #e6f0f1;
$theme-light-surface-container-high: #e0eaec;
$theme-light-surface-container-highest: #dbe4e6;
$theme-light-surface-container-low: #ecf5f7;
$theme-light-surface-container-lowest: #ffffff;
$theme-light-surface-dim: #d2dcde;
$theme-light-surface-tint: #825500;
$theme-light-surface-variant: #d4e6e9;
$theme-light-tertiary: #1b6872;
$theme-light-tertiary-container: #a9eefa;
$theme-light-tertiary-fixed: #a9eefa;
$theme-light-tertiary-fixed-dim: #8dd1dd;
$theme-dark-background: #0c1516;
$theme-dark-error: #ffb4ab;
$theme-dark-error-container: #93000a;
$theme-dark-inverse-on-surface: #293234;
$theme-dark-inverse-primary: #825500;
$theme-dark-inverse-surface: #dbe4e6;
$theme-dark-on-background: #dbe4e6;
$theme-dark-on-error: #690005;
$theme-dark-on-error-container: #ffdad6;
$theme-dark-on-primary: #452b00;
$theme-dark-on-primary-container: #ffddb2;
$theme-dark-on-primary-fixed: #291800;
$theme-dark-on-primary-fixed-variant: #624000;
$theme-dark-on-secondary: #2d2d4d;
$theme-dark-on-secondary-container: #e1e0ff;
$theme-dark-on-secondary-fixed: #181837;
$theme-dark-on-secondary-fixed-variant: #434465;
$theme-dark-on-surface: #dbe4e6;
$theme-dark-on-surface-variant: #b8cacd;
$theme-dark-on-tertiary: #00363d;
$theme-dark-on-tertiary-container: #a9eefa;
$theme-dark-on-tertiary-fixed: #001f24;
$theme-dark-on-tertiary-fixed-variant: #004f58;
$theme-dark-outline: #839497;
$theme-dark-outline-variant: #39494c;
$theme-dark-primary: #f8bc64;
$theme-dark-primary-container: #624000;
$theme-dark-primary-fixed: #ffddb2;
$theme-dark-primary-fixed-dim: #f8bc64;
$theme-dark-scrim: #000000;
$theme-dark-secondary: #c4c3eb;
$theme-dark-secondary-container: #434465;
$theme-dark-secondary-fixed: #e1e0ff;
$theme-dark-secondary-fixed-dim: #c4c3eb;
$theme-dark-shadow: #000000;
$theme-dark-surface: #0c1516;
$theme-dark-surface-bright: #323b3c;
$theme-dark-surface-container: #182123;
$theme-dark-surface-container-high: #222b2d;
$theme-dark-surface-container-highest: #2d3638;
$theme-dark-surface-container-low: #141d1f;
$theme-dark-surface-container-lowest: #071011;
$theme-dark-surface-dim: #0c1516;
$theme-dark-surface-tint: #f8bc64;
$theme-dark-surface-variant: #39494c;
$theme-dark-tertiary: #8dd1dd;
$theme-dark-tertiary-container: #004f58;
$theme-dark-tertiary-fixed: #a9eefa;
$theme-dark-tertiary-fixed-dim: #8dd1dd;
