$palette-content-background: #14140c;
$palette-content-error: #ffb4ab;
$palette-content-error-container: #93000a;
$palette-content-inverse-on-surface: #313128;
$palette-content-inverse-primary: #5d6300;
$palette-content-inverse-surface: #e5e3d6;
$palette-content-on-background: #e5e3d6;
$palette-content-on-error: #690005;
$palette-content-on-error-container: #ffdad6;
$palette-content-on-primary: #303300;
$palette-content-on-primary-container: #000000;
$palette-content-on-primary-fixed: #1b1d00;
$palette-content-on-primary-fixed-variant: #464a00;
$palette-content-on-secondary: #30330b;
$palette-content-on-secondary-container: #e5e8b0;
$palette-content-on-secondary-fixed: #1b1d00;
$palette-content-on-secondary-fixed-variant: #474920;
$palette-content-on-surface: #e5e3d6;
$palette-content-on-surface-variant: #c9c8b2;
$palette-content-on-tertiary: #00390f;
$palette-content-on-tertiary-container: #000000;
$palette-content-on-tertiary-fixed: #002106;
$palette-content-on-tertiary-fixed-variant: #00531a;
$palette-content-outline: #92927e;
$palette-content-outline-variant: #474838;
$palette-content-primary: #c6ce5c;
$palette-content-primary-container: #90972b;
$palette-content-primary-fixed: #e2ea75;
$palette-content-primary-fixed-dim: #c6ce5c;
$palette-content-scrim: #000000;
$palette-content-secondary: #c8ca95;
$palette-content-secondary-container: #494c22;
$palette-content-secondary-fixed: #e4e6af;
$palette-content-secondary-fixed-dim: #c8ca95;
$palette-content-shadow: #000000;
$palette-content-source-color: #90972b;
$palette-content-surface: #14140c;
$palette-content-surface-bright: #3a3a31;
$palette-content-surface-container: #202018;
$palette-content-surface-container-high: #2a2a22;
$palette-content-surface-container-highest: #35352c;
$palette-content-surface-container-low: #1c1c14;
$palette-content-surface-container-lowest: #0e0f08;
$palette-content-surface-dim: #14140c;
$palette-content-surface-tint: #c6ce5c;
$palette-content-surface-variant: #474838;
$palette-content-tertiary: #8bd88d;
$palette-content-tertiary-container: #57a15c;
$palette-content-tertiary-fixed: #a7f5a7;
$palette-content-tertiary-fixed-dim: #8bd88d;
$palette-expressive-background: #11150c;
$palette-expressive-error: #ffb4ab;
$palette-expressive-error-container: #93000a;
$palette-expressive-inverse-on-surface: #2e3227;
$palette-expressive-inverse-primary: #8e4767;
$palette-expressive-inverse-surface: #e1e4d5;
$palette-expressive-on-background: #e1e4d5;
$palette-expressive-on-error: #690005;
$palette-expressive-on-error-container: #ffdad6;
$palette-expressive-on-primary: #561938;
$palette-expressive-on-primary-container: #ffd9e5;
$palette-expressive-on-primary-fixed: #3b0322;
$palette-expressive-on-primary-fixed-variant: #72304f;
$palette-expressive-on-secondary: #133724;
$palette-expressive-on-secondary-container: #c4eccf;
$palette-expressive-on-secondary-fixed: #002110;
$palette-expressive-on-secondary-fixed-variant: #2b4e39;
$palette-expressive-on-surface: #e1e4d5;
$palette-expressive-on-surface-variant: #c3c9b3;
$palette-expressive-on-tertiary: #1f360a;
$palette-expressive-on-tertiary-container: #cdedae;
$palette-expressive-on-tertiary-fixed: #0c2000;
$palette-expressive-on-tertiary-fixed-variant: #344e1f;
$palette-expressive-outline: #8d937f;
$palette-expressive-outline-variant: #434938;
$palette-expressive-primary: #ffb0cf;
$palette-expressive-primary-container: #72304f;
$palette-expressive-primary-fixed: #ffd9e5;
$palette-expressive-primary-fixed-dim: #ffb0cf;
$palette-expressive-scrim: #000000;
$palette-expressive-secondary: #a9d0b4;
$palette-expressive-secondary-container: #2b4e39;
$palette-expressive-secondary-fixed: #c4eccf;
$palette-expressive-secondary-fixed-dim: #a9d0b4;
$palette-expressive-shadow: #000000;
$palette-expressive-source-color: #90972b;
$palette-expressive-surface: #11150c;
$palette-expressive-surface-bright: #373b30;
$palette-expressive-surface-container: #1d2117;
$palette-expressive-surface-container-high: #282b21;
$palette-expressive-surface-container-highest: #33362c;
$palette-expressive-surface-container-low: #191d13;
$palette-expressive-surface-container-lowest: #0c0f07;
$palette-expressive-surface-dim: #11150c;
$palette-expressive-surface-tint: #ffb0cf;
$palette-expressive-surface-variant: #434938;
$palette-expressive-tertiary: #b1d094;
$palette-expressive-tertiary-container: #344e1f;
$palette-expressive-tertiary-fixed: #cdedae;
$palette-expressive-tertiary-fixed-dim: #b1d094;
$palette-fidelity-background: #14140c;
$palette-fidelity-error: #ffb4ab;
$palette-fidelity-error-container: #93000a;
$palette-fidelity-inverse-on-surface: #313128;
$palette-fidelity-inverse-primary: #5d6300;
$palette-fidelity-inverse-surface: #e5e3d6;
$palette-fidelity-on-background: #e5e3d6;
$palette-fidelity-on-error: #690005;
$palette-fidelity-on-error-container: #ffdad6;
$palette-fidelity-on-primary: #303300;
$palette-fidelity-on-primary-container: #000000;
$palette-fidelity-on-primary-fixed: #1b1d00;
$palette-fidelity-on-primary-fixed-variant: #464a00;
$palette-fidelity-on-secondary: #30330b;
$palette-fidelity-on-secondary-container: #e5e8b0;
$palette-fidelity-on-secondary-fixed: #1b1d00;
$palette-fidelity-on-secondary-fixed-variant: #474920;
$palette-fidelity-on-surface: #e5e3d6;
$palette-fidelity-on-surface-variant: #c9c8b2;
$palette-fidelity-on-tertiary: #461968;
$palette-fidelity-on-tertiary-container: #000000;
$palette-fidelity-on-tertiary-fixed: #2e004e;
$palette-fidelity-on-tertiary-fixed-variant: #5e3281;
$palette-fidelity-outline: #92927e;
$palette-fidelity-outline-variant: #474838;
$palette-fidelity-primary: #c6ce5c;
$palette-fidelity-primary-container: #90972b;
$palette-fidelity-primary-fixed: #e2ea75;
$palette-fidelity-primary-fixed-dim: #c6ce5c;
$palette-fidelity-scrim: #000000;
$palette-fidelity-secondary: #c8ca95;
$palette-fidelity-secondary-container: #494c22;
$palette-fidelity-secondary-fixed: #e4e6af;
$palette-fidelity-secondary-fixed-dim: #c8ca95;
$palette-fidelity-shadow: #000000;
$palette-fidelity-source-color: #90972b;
$palette-fidelity-surface: #14140c;
$palette-fidelity-surface-bright: #3a3a31;
$palette-fidelity-surface-container: #202018;
$palette-fidelity-surface-container-high: #2a2a22;
$palette-fidelity-surface-container-highest: #35352c;
$palette-fidelity-surface-container-low: #1c1c14;
$palette-fidelity-surface-container-lowest: #0e0f08;
$palette-fidelity-surface-dim: #14140c;
$palette-fidelity-surface-tint: #c6ce5c;
$palette-fidelity-surface-variant: #474838;
$palette-fidelity-tertiary: #e0b6ff;
$palette-fidelity-tertiary-container: #ac7dd1;
$palette-fidelity-tertiary-fixed: #f2daff;
$palette-fidelity-tertiary-fixed-dim: #e0b6ff;
$palette-fruit-salad-background: #131407;
$palette-fruit-salad-error: #ffb4ab;
$palette-fruit-salad-error-container: #93000a;
$palette-fruit-salad-inverse-on-surface: #313122;
$palette-fruit-salad-inverse-primary: #8a5100;
$palette-fruit-salad-inverse-surface: #e5e4cd;
$palette-fruit-salad-on-background: #e5e4cd;
$palette-fruit-salad-on-error: #690005;
$palette-fruit-salad-on-error-container: #ffdad6;
$palette-fruit-salad-on-primary: #4a2800;
$palette-fruit-salad-on-primary-container: #ffdcbd;
$palette-fruit-salad-on-primary-fixed: #2c1600;
$palette-fruit-salad-on-primary-fixed-variant: #693c00;
$palette-fruit-salad-on-secondary: #4a2800;
$palette-fruit-salad-on-secondary-container: #ffdcbd;
$palette-fruit-salad-on-secondary-fixed: #2c1600;
$palette-fruit-salad-on-secondary-fixed-variant: #693c00;
$palette-fruit-salad-on-surface: #e5e4cd;
$palette-fruit-salad-on-surface-variant: #c8c9a6;
$palette-fruit-salad-on-tertiary: #303300;
$palette-fruit-salad-on-tertiary-container: #e3e892;
$palette-fruit-salad-on-tertiary-fixed: #1b1d00;
$palette-fruit-salad-on-tertiary-fixed-variant: #464a02;
$palette-fruit-salad-outline: #929373;
$palette-fruit-salad-outline-variant: #47492e;
$palette-fruit-salad-primary: #ffb86f;
$palette-fruit-salad-primary-container: #693c00;
$palette-fruit-salad-primary-fixed: #ffdcbd;
$palette-fruit-salad-primary-fixed-dim: #ffb86f;
$palette-fruit-salad-scrim: #000000;
$palette-fruit-salad-secondary: #fcb975;
$palette-fruit-salad-secondary-container: #693c00;
$palette-fruit-salad-secondary-fixed: #ffdcbd;
$palette-fruit-salad-secondary-fixed-dim: #fcb975;
$palette-fruit-salad-shadow: #000000;
$palette-fruit-salad-source-color: #90972b;
$palette-fruit-salad-surface: #131407;
$palette-fruit-salad-surface-bright: #3a3a2b;
$palette-fruit-salad-surface-container: #202013;
$palette-fruit-salad-surface-container-high: #2a2b1c;
$palette-fruit-salad-surface-container-highest: #353627;
$palette-fruit-salad-surface-container-low: #1c1c0f;
$palette-fruit-salad-surface-container-lowest: #0e0f04;
$palette-fruit-salad-surface-dim: #131407;
$palette-fruit-salad-surface-tint: #ffb86f;
$palette-fruit-salad-surface-variant: #47492e;
$palette-fruit-salad-tertiary: #c7cc79;
$palette-fruit-salad-tertiary-container: #464a02;
$palette-fruit-salad-tertiary-fixed: #e3e892;
$palette-fruit-salad-tertiary-fixed-dim: #c7cc79;
$palette-monochrome-background: #131313;
$palette-monochrome-error: #ffb4ab;
$palette-monochrome-error-container: #93000a;
$palette-monochrome-inverse-on-surface: #303030;
$palette-monochrome-inverse-primary: #5e5e5e;
$palette-monochrome-inverse-surface: #e2e2e2;
$palette-monochrome-on-background: #e2e2e2;
$palette-monochrome-on-error: #690005;
$palette-monochrome-on-error-container: #ffdad6;
$palette-monochrome-on-primary: #1b1b1b;
$palette-monochrome-on-primary-container: #000000;
$palette-monochrome-on-primary-fixed: #ffffff;
$palette-monochrome-on-primary-fixed-variant: #e2e2e2;
$palette-monochrome-on-secondary: #1b1b1b;
$palette-monochrome-on-secondary-container: #e2e2e2;
$palette-monochrome-on-secondary-fixed: #1b1b1b;
$palette-monochrome-on-secondary-fixed-variant: #3b3b3b;
$palette-monochrome-on-surface: #e2e2e2;
$palette-monochrome-on-surface-variant: #c6c6c6;
$palette-monochrome-on-tertiary: #1b1b1b;
$palette-monochrome-on-tertiary-container: #000000;
$palette-monochrome-on-tertiary-fixed: #ffffff;
$palette-monochrome-on-tertiary-fixed-variant: #e2e2e2;
$palette-monochrome-outline: #919191;
$palette-monochrome-outline-variant: #474747;
$palette-monochrome-primary: #ffffff;
$palette-monochrome-primary-container: #d4d4d4;
$palette-monochrome-primary-fixed: #5e5e5e;
$palette-monochrome-primary-fixed-dim: #474747;
$palette-monochrome-scrim: #000000;
$palette-monochrome-secondary: #c6c6c6;
$palette-monochrome-secondary-container: #474747;
$palette-monochrome-secondary-fixed: #c6c6c6;
$palette-monochrome-secondary-fixed-dim: #ababab;
$palette-monochrome-shadow: #000000;
$palette-monochrome-source-color: #90972b;
$palette-monochrome-surface: #131313;
$palette-monochrome-surface-bright: #393939;
$palette-monochrome-surface-container: #1f1f1f;
$palette-monochrome-surface-container-high: #2a2a2a;
$palette-monochrome-surface-container-highest: #353535;
$palette-monochrome-surface-container-low: #1b1b1b;
$palette-monochrome-surface-container-lowest: #0e0e0e;
$palette-monochrome-surface-dim: #131313;
$palette-monochrome-surface-tint: #c6c6c6;
$palette-monochrome-surface-variant: #474747;
$palette-monochrome-tertiary: #e2e2e2;
$palette-monochrome-tertiary-container: #919191;
$palette-monochrome-tertiary-fixed: #5e5e5e;
$palette-monochrome-tertiary-fixed-dim: #474747;
$palette-neutral-background: #141311;
$palette-neutral-error: #ffb4ab;
$palette-neutral-error-container: #93000a;
$palette-neutral-inverse-on-surface: #31302e;
$palette-neutral-inverse-primary: #5f604b;
$palette-neutral-inverse-surface: #e5e2de;
$palette-neutral-on-background: #e5e2de;
$palette-neutral-on-error: #690005;
$palette-neutral-on-error-container: #ffdad6;
$palette-neutral-on-primary: #31321f;
$palette-neutral-on-primary-container: #e5e4c9;
$palette-neutral-on-primary-fixed: #1c1d0c;
$palette-neutral-on-primary-fixed-variant: #474834;
$palette-neutral-on-secondary: #313125;
$palette-neutral-on-secondary-container: #e5e3d2;
$palette-neutral-on-secondary-fixed: #1c1c12;
$palette-neutral-on-secondary-fixed-variant: #47473b;
$palette-neutral-on-surface: #e5e2de;
$palette-neutral-on-surface-variant: #c9c6c2;
$palette-neutral-on-tertiary: #303219;
$palette-neutral-on-tertiary-container: #e4e5c0;
$palette-neutral-on-tertiary-fixed: #1b1d07;
$palette-neutral-on-tertiary-fixed-variant: #47492e;
$palette-neutral-outline: #93908d;
$palette-neutral-outline-variant: #484744;
$palette-neutral-primary: #c8c8ae;
$palette-neutral-primary-container: #474834;
$palette-neutral-primary-fixed: #e5e4c9;
$palette-neutral-primary-fixed-dim: #c8c8ae;
$palette-neutral-scrim: #000000;
$palette-neutral-secondary: #c9c7b6;
$palette-neutral-secondary-container: #47473b;
$palette-neutral-secondary-fixed: #e5e3d2;
$palette-neutral-secondary-fixed-dim: #c9c7b6;
$palette-neutral-shadow: #000000;
$palette-neutral-source-color: #90972b;
$palette-neutral-surface: #141311;
$palette-neutral-surface-bright: #3a3936;
$palette-neutral-surface-container: #20201d;
$palette-neutral-surface-container-high: #2b2a27;
$palette-neutral-surface-container-highest: #353532;
$palette-neutral-surface-container-low: #1c1c19;
$palette-neutral-surface-container-lowest: #0e0e0c;
$palette-neutral-surface-dim: #141311;
$palette-neutral-surface-tint: #c8c8ae;
$palette-neutral-surface-variant: #484744;
$palette-neutral-tertiary: #c8c9a6;
$palette-neutral-tertiary-container: #47492e;
$palette-neutral-tertiary-fixed: #e4e5c0;
$palette-neutral-tertiary-fixed-dim: #c8c9a6;
$palette-rainbow-background: #131313;
$palette-rainbow-error: #ffb4ab;
$palette-rainbow-error-container: #93000a;
$palette-rainbow-inverse-on-surface: #303030;
$palette-rainbow-inverse-primary: #5d6300;
$palette-rainbow-inverse-surface: #e2e2e2;
$palette-rainbow-on-background: #e2e2e2;
$palette-rainbow-on-error: #690005;
$palette-rainbow-on-error-container: #ffdad6;
$palette-rainbow-on-primary: #303300;
$palette-rainbow-on-primary-container: #e2ea74;
$palette-rainbow-on-primary-fixed: #1b1d00;
$palette-rainbow-on-primary-fixed-variant: #464a00;
$palette-rainbow-on-secondary: #303219;
$palette-rainbow-on-secondary-container: #e4e5c0;
$palette-rainbow-on-secondary-fixed: #1b1d07;
$palette-rainbow-on-secondary-fixed-variant: #47492e;
$palette-rainbow-on-surface: #e2e2e2;
$palette-rainbow-on-surface-variant: #c6c6c6;
$palette-rainbow-on-tertiary: #08372c;
$palette-rainbow-on-tertiary-container: #beecdb;
$palette-rainbow-on-tertiary-fixed: #002018;
$palette-rainbow-on-tertiary-fixed-variant: #244e42;
$palette-rainbow-outline: #919191;
$palette-rainbow-outline-variant: #474747;
$palette-rainbow-primary: #c6ce5b;
$palette-rainbow-primary-container: #464a00;
$palette-rainbow-primary-fixed: #e2ea74;
$palette-rainbow-primary-fixed-dim: #c6ce5b;
$palette-rainbow-scrim: #000000;
$palette-rainbow-secondary: #c8c9a6;
$palette-rainbow-secondary-container: #47492e;
$palette-rainbow-secondary-fixed: #e4e5c0;
$palette-rainbow-secondary-fixed-dim: #c8c9a6;
$palette-rainbow-shadow: #000000;
$palette-rainbow-source-color: #90972b;
$palette-rainbow-surface: #131313;
$palette-rainbow-surface-bright: #393939;
$palette-rainbow-surface-container: #1f1f1f;
$palette-rainbow-surface-container-high: #2a2a2a;
$palette-rainbow-surface-container-highest: #353535;
$palette-rainbow-surface-container-low: #1b1b1b;
$palette-rainbow-surface-container-lowest: #0e0e0e;
$palette-rainbow-surface-dim: #131313;
$palette-rainbow-surface-tint: #c6ce5b;
$palette-rainbow-surface-variant: #474747;
$palette-rainbow-tertiary: #a3d0bf;
$palette-rainbow-tertiary-container: #244e42;
$palette-rainbow-tertiary-fixed: #beecdb;
$palette-rainbow-tertiary-fixed-dim: #a3d0bf;
$palette-tonal-spot-background: #14140c;
$palette-tonal-spot-error: #ffb4ab;
$palette-tonal-spot-error-container: #93000a;
$palette-tonal-spot-inverse-on-surface: #313128;
$palette-tonal-spot-inverse-primary: #5e621b;
$palette-tonal-spot-inverse-surface: #e5e3d6;
$palette-tonal-spot-on-background: #e5e3d6;
$palette-tonal-spot-on-error: #690005;
$palette-tonal-spot-on-error-container: #ffdad6;
$palette-tonal-spot-on-primary: #303300;
$palette-tonal-spot-on-primary-container: #e3e892;
$palette-tonal-spot-on-primary-fixed: #1b1d00;
$palette-tonal-spot-on-primary-fixed-variant: #464a02;
$palette-tonal-spot-on-secondary: #303219;
$palette-tonal-spot-on-secondary-container: #e4e5c0;
$palette-tonal-spot-on-secondary-fixed: #1b1d07;
$palette-tonal-spot-on-secondary-fixed-variant: #47492e;
$palette-tonal-spot-on-surface: #e5e3d6;
$palette-tonal-spot-on-surface-variant: #c9c7b6;
$palette-tonal-spot-on-tertiary: #08372c;
$palette-tonal-spot-on-tertiary-container: #beecdb;
$palette-tonal-spot-on-tertiary-fixed: #002018;
$palette-tonal-spot-on-tertiary-fixed-variant: #244e42;
$palette-tonal-spot-outline: #929182;
$palette-tonal-spot-outline-variant: #47473b;
$palette-tonal-spot-primary: #c7cc79;
$palette-tonal-spot-primary-container: #464a02;
$palette-tonal-spot-primary-fixed: #e3e892;
$palette-tonal-spot-primary-fixed-dim: #c7cc79;
$palette-tonal-spot-scrim: #000000;
$palette-tonal-spot-secondary: #c8c9a6;
$palette-tonal-spot-secondary-container: #47492e;
$palette-tonal-spot-secondary-fixed: #e4e5c0;
$palette-tonal-spot-secondary-fixed-dim: #c8c9a6;
$palette-tonal-spot-shadow: #000000;
$palette-tonal-spot-source-color: #90972b;
$palette-tonal-spot-surface: #14140c;
$palette-tonal-spot-surface-bright: #3a3a31;
$palette-tonal-spot-surface-container: #202018;
$palette-tonal-spot-surface-container-high: #2a2a22;
$palette-tonal-spot-surface-container-highest: #35352c;
$palette-tonal-spot-surface-container-low: #1c1c14;
$palette-tonal-spot-surface-container-lowest: #0e0f08;
$palette-tonal-spot-surface-dim: #14140c;
$palette-tonal-spot-surface-tint: #c7cc79;
$palette-tonal-spot-surface-variant: #47473b;
$palette-tonal-spot-tertiary: #a3d0bf;
$palette-tonal-spot-tertiary-container: #244e42;
$palette-tonal-spot-tertiary-fixed: #beecdb;
$palette-tonal-spot-tertiary-fixed-dim: #a3d0bf;
$palette-vibrant-background: #131407;
$palette-vibrant-error: #ffb4ab;
$palette-vibrant-error-container: #93000a;
$palette-vibrant-inverse-on-surface: #313122;
$palette-vibrant-inverse-primary: #5d6300;
$palette-vibrant-inverse-surface: #e5e4cd;
$palette-vibrant-on-background: #e5e4cd;
$palette-vibrant-on-error: #690005;
$palette-vibrant-on-error-container: #ffdad6;
$palette-vibrant-on-primary: #303300;
$palette-vibrant-on-primary-container: #e0ed00;
$palette-vibrant-on-primary-fixed: #1b1d00;
$palette-vibrant-on-primary-fixed-variant: #464a00;
$palette-vibrant-on-secondary: #293411;
$palette-vibrant-on-secondary-container: #dae9b6;
$palette-vibrant-on-secondary-fixed: #151f01;
$palette-vibrant-on-secondary-fixed-variant: #3f4b26;
$palette-vibrant-on-surface: #e5e4cd;
$palette-vibrant-on-surface-variant: #c9c8b2;
$palette-vibrant-on-tertiary: #19370f;
$palette-vibrant-on-tertiary-container: #c8edb3;
$palette-vibrant-on-tertiary-fixed: #052100;
$palette-vibrant-on-tertiary-fixed-variant: #304e23;
$palette-vibrant-outline: #92927e;
$palette-vibrant-outline-variant: #474838;
$palette-vibrant-primary: #c4d000;
$palette-vibrant-primary-container: #464a00;
$palette-vibrant-primary-fixed: #e0ed00;
$palette-vibrant-primary-fixed-dim: #c4d000;
$palette-vibrant-scrim: #000000;
$palette-vibrant-secondary: #becc9c;
$palette-vibrant-secondary-container: #3f4b26;
$palette-vibrant-secondary-fixed: #dae9b6;
$palette-vibrant-secondary-fixed-dim: #becc9c;
$palette-vibrant-shadow: #000000;
$palette-vibrant-source-color: #90972b;
$palette-vibrant-surface: #131407;
$palette-vibrant-surface-bright: #3a3a2b;
$palette-vibrant-surface-container: #202013;
$palette-vibrant-surface-container-high: #2a2b1c;
$palette-vibrant-surface-container-highest: #353627;
$palette-vibrant-surface-container-low: #1c1c0f;
$palette-vibrant-surface-container-lowest: #0e0f04;
$palette-vibrant-surface-dim: #131407;
$palette-vibrant-surface-tint: #c4d000;
$palette-vibrant-surface-variant: #474838;
$palette-vibrant-tertiary: #acd199;
$palette-vibrant-tertiary-container: #304e23;
$palette-vibrant-tertiary-fixed: #c8edb3;
$palette-vibrant-tertiary-fixed-dim: #acd199;
$theme-light-background: #fcfae4;
$theme-light-error: #ba1a1a;
$theme-light-error-container: #ffdad6;
$theme-light-inverse-on-surface: #f3f2db;
$theme-light-inverse-primary: #c4d000;
$theme-light-inverse-surface: #313122;
$theme-light-on-background: #1c1c0f;
$theme-light-on-error: #ffffff;
$theme-light-on-error-container: #410002;
$theme-light-on-primary: #ffffff;
$theme-light-on-primary-container: #1b1d00;
$theme-light-on-primary-fixed: #1b1d00;
$theme-light-on-primary-fixed-variant: #464a00;
$theme-light-on-secondary: #ffffff;
$theme-light-on-secondary-container: #151f01;
$theme-light-on-secondary-fixed: #151f01;
$theme-light-on-secondary-fixed-variant: #3f4b26;
$theme-light-on-surface: #1c1c0f;
$theme-light-on-surface-variant: #474838;
$theme-light-on-tertiary: #ffffff;
$theme-light-on-tertiary-container: #052100;
$theme-light-on-tertiary-fixed: #052100;
$theme-light-on-tertiary-fixed-variant: #304e23;
$theme-light-outline: #787866;
$theme-light-outline-variant: #c9c8b2;
$theme-light-primary: #5d6300;
$theme-light-primary-container: #e0ed00;
$theme-light-primary-fixed: #e0ed00;
$theme-light-primary-fixed-dim: #c4d000;
$theme-light-scrim: #000000;
$theme-light-secondary: #56633b;
$theme-light-secondary-container: #dae9b6;
$theme-light-secondary-fixed: #dae9b6;
$theme-light-secondary-fixed-dim: #becc9c;
$theme-light-shadow: #000000;
$theme-light-source-color: #90972b;
$theme-light-surface: #fcfae4;
$theme-light-surface-bright: #fcfae4;
$theme-light-surface-container: #f0efd8;
$theme-light-surface-container-high: #ebe9d3;
$theme-light-surface-container-highest: #e5e4cd;
$theme-light-surface-container-low: #f6f5de;
$theme-light-surface-container-lowest: #ffffff;
$theme-light-surface-dim: #dcdbc5;
$theme-light-surface-tint: #5d6300;
$theme-light-surface-variant: #e5e4cd;
$theme-light-tertiary: #476739;
$theme-light-tertiary-container: #c8edb3;
$theme-light-tertiary-fixed: #c8edb3;
$theme-light-tertiary-fixed-dim: #acd199;
$theme-dark-background: #131407;
$theme-dark-error: #ffb4ab;
$theme-dark-error-container: #93000a;
$theme-dark-inverse-on-surface: #313122;
$theme-dark-inverse-primary: #5d6300;
$theme-dark-inverse-surface: #e5e4cd;
$theme-dark-on-background: #e5e4cd;
$theme-dark-on-error: #690005;
$theme-dark-on-error-container: #ffdad6;
$theme-dark-on-primary: #303300;
$theme-dark-on-primary-container: #e0ed00;
$theme-dark-on-primary-fixed: #1b1d00;
$theme-dark-on-primary-fixed-variant: #464a00;
$theme-dark-on-secondary: #293411;
$theme-dark-on-secondary-container: #dae9b6;
$theme-dark-on-secondary-fixed: #151f01;
$theme-dark-on-secondary-fixed-variant: #3f4b26;
$theme-dark-on-surface: #e5e4cd;
$theme-dark-on-surface-variant: #c9c8b2;
$theme-dark-on-tertiary: #19370f;
$theme-dark-on-tertiary-container: #c8edb3;
$theme-dark-on-tertiary-fixed: #052100;
$theme-dark-on-tertiary-fixed-variant: #304e23;
$theme-dark-outline: #92927e;
$theme-dark-outline-variant: #474838;
$theme-dark-primary: #c4d000;
$theme-dark-primary-container: #464a00;
$theme-dark-primary-fixed: #e0ed00;
$theme-dark-primary-fixed-dim: #c4d000;
$theme-dark-scrim: #000000;
$theme-dark-secondary: #becc9c;
$theme-dark-secondary-container: #3f4b26;
$theme-dark-secondary-fixed: #dae9b6;
$theme-dark-secondary-fixed-dim: #becc9c;
$theme-dark-shadow: #000000;
$theme-dark-source-color: #90972b;
$theme-dark-surface: #131407;
$theme-dark-surface-bright: #3a3a2b;
$theme-dark-surface-container: #202013;
$theme-dark-surface-container-high: #2a2b1c;
$theme-dark-surface-container-highest: #353627;
$theme-dark-surface-container-low: #1c1c0f;
$theme-dark-surface-container-lowest: #0e0f04;
$theme-dark-surface-dim: #131407;
$theme-dark-surface-tint: #c4d000;
$theme-dark-surface-variant: #474838;
$theme-dark-tertiary: #acd199;
$theme-dark-tertiary-container: #304e23;
$theme-dark-tertiary-fixed: #c8edb3;
$theme-dark-tertiary-fixed-dim: #acd199;
