layout {
    background-color "transparent"

    focus-ring {
        active-color   "#ddc663"
        inactive-color "#85939b"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ddc663"
        inactive-color "#85939b"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ddc663"
        inactive-color "#85939b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ddc66380"
    }
}