@use "../colors";

.notification,
.notification-popup {
    background-color: colors.$surface_container;
    padding: 10px;
    border-radius: 20px;

    .notification-icon {
        padding: 10px;
        background-color: colors.$surface_container_high;
        border-radius: 2rem;
        color: colors.$on_background;
    }

    .m3-button.notification-close,
    .m3-button.notification-expand {
        background-color: colors.$surface_container_high;
        padding: 0px;
        min-width: 5px;
        min-height: 16px;

        &:hover {
            background-color: colors.$surface_container_highest;
        }

        .m3-button-icon {
            font-size: 16px;
            color: colors.$on_background;
        }
    }

    .notification-info {
        padding: 5px;
        padding-left: 0px;
        .notification-summary {
            font-weight: 600;
            color: colors.$on_surface;
        }
        .notification-seperator,
        .notification-age {
            font-size: 8pt;
            opacity: 0.75;
        }
        .notification-body {
            color: colors.$on_surface_variant;
        }
    }

    .notification-actions-container {
        margin-left: -10px;
        margin-top: 5px;
        margin-bottom: -5px;
    }

    &.compact-popup {
        padding: 5px;
        border-radius: 20rem;
        .notification-icon {
            padding: 0px;
            min-width: 32px;
            min-height: 32px;
        }
        .m3-button.notification-close {
            min-width: 24px;
            min-height: 24px;
            padding: 0px;
            margin-right: 5px;
        }
    }
}

.notification-popup-container {
    margin: 10px;
    min-width: 35rem;
    .notification-popup {
        border: 1px solid rgba(colors.$outline_variant, 0.5);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
}
